{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}


<style>
    body {
      background-image: url('https://media.discordapp.net/attachments/730163733799895160/738126397360570448/91c095HSwgL._AC_SL1500_.jpg?width=774&height=516');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      font-family: 'Lato', sans-serif;
    }
    h1{
        color:white;
        font-size: 60px;
    }
</style>
<br>
    <div class="text-center" >
        <img src = "https://media.discordapp.net/attachments/730163733799895160/738232334368768090/Presentation1.png?width=752&height=564" width="400" height="300">
        <img src = "https://media.discordapp.net/attachments/730163733799895160/738107677485432880/4619269_0.png?width=516&height=516" width="300" height="300">
        <img src = "https://media.discordapp.net/attachments/730163733799895160/738236103684915230/Screen_Shot_2020-07-29_at_11.20.55_PM.png" width="400" height="300">
    </div>
    <br>
    <div class="text-center">
        <h1><b>Welcome to NASA Jr's Lung Cancer Classifier!</b></h1>
    </div>
{% endblock %}